<div id="header" class="row">
  <div class="col-4" style="text-align: center;">
    @Html.ActionLink("Home", "Index", "Home")
  </div>
  <div class="col-4" style="text-align: center;">
    @Html.ActionLink("Treats", "Index", "Treats")
  </div>
  <div class="col-4" style="text-align: center;">
    @Html.ActionLink("Flavors", "Index", "Flavors")
  </div>
</div>